body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background: url('../src/images/currency-background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}